@model ModelsClassLibrary.Models.People.Language

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Language</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateStarted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDateStarted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedByUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedByUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleteDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleteDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnDeletedByUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnDeletedByUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnDeleteDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnDeleteDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
